@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap");

/* !important overrides any style */
body {
    font-family: "Roboto Mono", monospace !important; 
    font-weight: 200 !important;
    font-style: normal;
    color: white !important;  
    background-color: #201c1c !important;  
}

h1 {
    font-weight: 200 !important;  
    font-size: 2em !important;
    text-align: center !important;
    letter-spacing: 5px !important;
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards, moveUp 2s ease-in-out forwards 1.5s;
}

h3 {
    font-weight: 200 !important;  
    font-size: 16px !important;
    font-style: normal;
    text-align: center !important;
    letter-spacing: 5px !important;
    margin-top: 0px !important; 
}


h4 {
    font-weight: 200 !important;  
    font-size: 16px !important;
    font-style: italic;
    text-align: center !important;
    letter-spacing: 5px !important;
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards, moveUp 2s ease-in-out forwards 1.5s, fadeOut 1.5s ease-in forwards 3.5s;
}

.prompt-outside p {
    text-align: center !important;
    letter-spacing: 5px !important;
    font-size: 20px !important;
    text-decoration: underline;
}

 


/* fade in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* moving up animation */
@keyframes moveUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-150px);
    }
}

/* Fade-out Animation */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.container {
    text-align: center;
    position: relative;
    top: 20vh;  
}

/* for buttons */
/* Style all buttons the same way */
/* .stButton > button {
    font-size: 6px !important;
    font-weight: 500 !important;
} */

/* Hover effect for all buttons */
/* .stButton > button:hover {
    transform: translateY(-2px) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
} */


