@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap");

/* !important overrides any style */
body {
    font-family: "Roboto Mono", monospace !important; 
    font-weight: 200 !important;
    font-style: normal;
    color: white !important;  
    background-color: #201c1c !important;  
}

h1 {
    font-weight: 200 !important;  
    font-size: 2em !important;
    text-align: center !important;
    letter-spacing: 5px !important;
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards, moveUp 2s ease-in-out forwards 1.5s;
}

h4 {
    font-weight: 200 !important;  
    font-size: 16px !important;
    font-style: italic;
    text-align: center !important;
    letter-spacing: 5px !important;
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards, moveUp 2s ease-in-out forwards 1.5s, fadeOut 1.5s ease-in forwards 3.5s;
}

/* Fade-in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Move Up Animation (starts after fade-in) */
@keyframes moveUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-150px);
    }
}

/* Fade-out Animation */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.container {
    text-align: center;
    position: relative;
    top: 20vh;  
}